.first{
    color: red;
}
.last{
    color: blue;
}
.odd{
    background-color: aqua;}
.even{
    background-color: palevioletred;
}
.nested{
    border: 1px dashed blue;
    margin-bottom: 20px;
    max-width: 150px;
    border-radius: 5px;
    padding: 10px;
}